<section id="@IdType" class="@ClassTypes">
    @ChildContent
</section>



@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string IdType { get; set; }

    [Parameter]
    public string ClassTypes { get; set; }
    @*section p-8 relative pt-[calc(20vh-75px)] pb-32 *@
}
