<Section IdType="about">
    <h2 class="text-4xl font-semibold mb-4">About Me</h2>
    <p class="text-lg">
        I'm passionate about technology and enjoy creating innovative solutions.
        My goal is to make a positive impact through software development.
    </p>
</Section>

@code {

}
