<Section IdType="experience">
    <h2 class="text-4xl font-semibold mb-4">Experience</h2>
    <div class="experience-item mb-4">
        <h3 class="text-2xl font-semibold mb-2">Software Developer</h3>
        <p class="text-gray-600">VSoft, Cracow (Remote) - December 2022 to Present</p>
        <ul class="list-disc pl-5 pt-3">
            <li>
                Maintained an application that aggregates services from dozens of insurance
                companies, facilitating the issuance of insurance policies and enabling users to
                choose the best offer.
            </li>
            <li>
                Delivered new features requested by the client, such as integration with new
                policy engines to provide a wider range of offers.
            </li>
            <li>
                Implemented a connection with an external service for a bank client, providing a
                simpler and more convenient method for verifying people's identities.
            </li>
            <li>
                Worked in the SCRUM methodology with a focus of 70% on features and 30% on
                maintenance.
            </li>
            <li>
                Technologies used include: .NET Framework 4.8/.NET6, Vue.js, Angular,
                JavaScript, MSSQL, PowerShell, GIT, and Azure DevOps.
            </li>
        </ul>
    </div>
    <div class="experience-item mb-4">
        <h3 class="text-2xl font-semibold mb-2">Junior Full Stack Developer</h3>
        <p class="text-gray-600">PwC Poland, Warsaw (Remote) - February 2022 to November 2022</p>
        <p>
            Gained valuable experience in web development and contributed to the development of client projects.
        </p>
    </div>
</Section>


@code {

}
