<Section IdType="skills">
    <h2 class="text-4xl font-semibold mb-4">Skills</h2>
    <ul class="skills-list flex flex-wrap">
        <li class="bg-blue-500 text-white px-4 py-2 mr-2 mb-2 rounded">C#</li>
        <li class="bg-blue-500 text-white px-4 py-2 mr-2 mb-2 rounded">ASP.NET Core</li>
        <li class="bg-blue-500 text-white px-4 py-2 mr-2 mb-2 rounded">JavaScript</li>
        <li class="bg-blue-500 text-white px-4 py-2 mr-2 mb-2 rounded">Vue</li>
        <li class="bg-blue-500 text-white px-4 py-2 mr-2 mb-2 rounded">SQL</li>
        <li class="bg-blue-500 text-white px-4 py-2 mr-2 mb-2 rounded">Git</li>
        <li class="bg-blue-500 text-white px-4 py-2 mr-2 mb-2 rounded">Docker</li>
    </ul>
</Section>

@code {

}
