@inject BaseJsInterop jsFunction

<nav class="navbar bg-gray-800 p-4 fixed w-full">
    <a class="navbar-brand text-3xl font-bold" href="/"><img src="images/favicon-32x32.png" /></a>
    <div class="ml-auto">
        <a @onclick="@(()=>ScrollTo("about"))" class="nav-link">About</a>
        <a @onclick="@(()=>ScrollTo("experience"))" class="nav-link">Experience</a>
        <a @onclick="@(()=>ScrollTo("skills"))" class="nav-link">Skills</a>
    </div>
</nav>




@code {
    private async Task ScrollTo(string sectionId)
    {
        await jsFunction.ScrollToSection(sectionId);
    }
}